$mycolor: blue;
$my-first-heading-size: 100px;
$my-first-heading-font: Arial, Poppins, San serif;

h1 {
  color: $mycolor;
  font-size: $my-first-heading-font;
  font-family: $my-first-heading-font;
}
